<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kashmir Arcives</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>

 <header class="header">
    <div class="topbar">
       <div class="search">🔍</div>
       <div class="logo">
        <a href="../index.html">
        <h1>Jammu Kashmir Archives</h1>
        </a>
       </div>
       <div class="icons">☰</div>
    </div>

    <nav class="navbar">
     <a href="../regions/jammu.html">Jammu</a>
         <a href="../regions/kashmir.html">Kashmir
        <a href="../regions/ladakh.html">Ladakh</a>
         <a href="../regions/gilgit.html">Gilgit</a>
         <a href="#">Explore</a>
         <a href="#">About</a>
         </nav>
    </header>
     <main class="container">

        <!--Left-->
        <aside class="left">
            <p>Jammu Kashmir Archives is dedicated to preserving 
                the culture, language, and history of the region —
                including Dogra heritage, Kashmiri traditions, and Ladakhi identity.
            </p>
        </aside>

        <!-- Centre-->
         <section class="centre">
            <a href="../articles/#">
            <img src="../../public/images/Screenshot 2026-03-09 181214.png">
            <h2>Sheikh Abdullah</h2>
            </a>
            <p>Does the Dogri Folk Orchestra, that vibrant collective rooted in the traditions of Duggar, merely preserve sound, or does it carry a deeper cultural consciousness? For many practitioners and listeners, the answer seems to extend beyond performance alone. Much like a journey through inherited melodies, the orchestra becomes an act of remembrance — a “living archive” of voices shaped by landscape, labor, and longing. Its compositions wander through time rather than streets, gathering fragments of memory and identity. Yet, as with any revival of tradition, its vision holds both achievement and limitation: it celebrates continuity while inevitably reshaping what it seeks to preserve.<span class="space"><a href="../articles/article-aa01.html">more</a></span></p>
         </section>

        <!--RIGHT-->
         <aside class="right">
            <img src="../../public/images/subscribe-symbol-3abd2ce0dabf50a62fc1ead37b15ff3a.png">
            <h3> JOIN OUR NEWSLATTER</h3>
            <p>Our latest content, your inbox, every fortnight</p>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <button>Submit</button>
         </aside>
    </main>
 <section class="tags">
        <h3>Tags</h3>
        <nav class="nav-tag">
         <a href="history-kashmir">History</a> 
         <a href="culture-kashmir">Culture</a>   
         <a href="geography-kashmir">Geography</a>  
         <a href="letters-kashmir">Letters</a>
         <a href="Archives-kashmir">Archives</a>
         </nav>
    </section>
    <section class="grid">
        
        <div class="card">
        <img src="../../public/images/1000030099.jpg">
        <h3>Shapaya Batik Weavers:The Forgotten Artisans of Pre-Partition Dogra Villages.</h3>
        <p>In rural Jammu before 1947 were the Shapaya, Muslim artisan families skilled in the batik dyeing tradition, who lived alongside local weavers a craft that has all but vanished.
            <span class="space"><a href="../articles/article-ba02.html">more</a></span>
        </p>
        </div>

        <div class="card">
        <img src="../../public/images/Duggar-guy-dancing.png">
        <h3>Kud Dance</h3>
        <p>History and theory of kud dance.</p>
        </div>

        <div class="card">
        <img src="../../public/images/1000028318.jpg">
        <h3>Fading Mud Folk Art: Parola</h3>
        <p>Parola an wall art that had it all but now struggling to showcase its value in todays Jammus Wall
            <span class="space"><a href="../articles/article-ba03.html">more</a></span>
        </p>

        </div>

        <div class="card">
        <img src="../../public/images/Duggar-guy-dancing.png">
        <h3>Kud Dance</h3>
        <p>History and theory of kud dance.<span class="space"><a href="../articles/article-ba04.html">more</a></span>
        </p>
        </div>
    </section>

    <div class="pagination">
        <a href="#">1</a>
        <a href="#">2</a>         
        <a href="#">3</a>        
        <a href="#">4</a>       
        <a href="#">5</a>
    </div>

    <footer class="footer">

        <!--TOP Part-->
        <div class="footer-top">
            <!--Left-->
            <div class="footer-about">
                <h2>Jammu Kashmir Archives</h2>
                <p>Jammu Kashmir Archives is dedicated to preserving culture,language, and history of the region for future generations.</p>
            </div>
            <!--C-1-->
            <div class="footer-links">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Submissions</a>
            </div>

            <!--C-2-->
             <div class="footer-links">
                <a href="#">Explore</a>
                <a href="#">Sources</a>
                <a href="#">Collections</a>
            </div>

            <!--Right-->
            <div class="footer-right">
                <button class="subscribe-btn">Subscribe</button>
                <div class="socials">
                    <span>F</span>
                    <span>X</span>
                    <span>I</span>
                </div>
            </div>

        </div>
        <img class="ft-img" src="../public/images/jammukashmirarchives footer alt(2).png">
    </footer>
</body>
</html>