<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
<header class="header">
    <div class="topbar">
    <div class="search">🔍</div>
        <div class="logo">
            <a href="../index.html">
            <h1>Jammu Kashmir Archives</h1>
            </a>
        </div>
        <div class="icons">☰</div>
    </div>

 <nav class="navbar">
    <a href="../regions/jammu.html">Jammu</a>
    <a href="../regions/kashmir.html">Kashmir</a>
    <a href="../regions/ladakh.html">Ladakh</a>
    <a href="../regions/gilgit.html">Gilgit</a>
    <a href="#">Explore</a>
    <a href="#">About</a>
 </nav>
</header>

<section class="text-for-articles">
<h2>Maharajah of Jammu and Kashmir visited an Air Defense of British post</h2>
<p class="author">By <span class="span-author-articles"><a href="#">XYZ</a></span></p>
<p class="intro">His Highness the Maharajah of Jammu and Kashmir recently visited an R.A.F., A.D.G.B. Station, and made a tour of inspection. </p>
<p class="published-text">PUBLISHED</p>
<p class="published-date">April 1,2026</p>
<img src="../../public/images/Screenshot 2026-04-02 133732.png">
<p>High Highness with the Station Commander, Wing Commander M.N. Crossley, DSO., DFC., leaving the operations block after listening to a briefing of fighter pilots. Behind- left to right - are Lieutenant Colonel N.S. Rawat, ADC to the Maharajah; Wing Commander W.E.N. Crowdon, Foreign Liaison Officer, and Major Upson - India Office.
<br>
Circa:1944</p>
</section>

</body>
</html>