<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
<header class="header">
    <div class="topbar">
    <div class="search">🔍</div>
        <div class="logo">
            <a href="../index.html">
            <h1>Jammu Kashmir Archives</h1>
            </a>
        </div>
        <div class="icons">☰</div>
    </div>

 <nav class="navbar">
    <a href="../regions/jammu.html">Jammu</a>
    <a href="../regions/kashmir.html">Kashmir</a>
    <a href="../regions/ladakh.html">Ladakh</a>
    <a href="../regions/gilgit.html">Gilgit</a>
    <a href="#">Explore</a>
    <a href="#">About</a>
 </nav>
</header>

<section class="text-for-articles">
<h2>Guardians at the Edge of Wilderness</h2>
<p class="author">By <span class="span-author-articles"><a href="#">XYZ</a></span></p>
<p class="intro">Within this journey exists a deeply rooted veterinary wisdom, not formalized in texts but carried through memory, practice, and observation. Illness is sensed before it is seen, treatments emerge from forests and fields, and healing becomes a shared responsibility between herder and habitat. This knowledge, passed quietly across generations, functions as a “living archive,” shaped by necessity and refined through time.</p>
<p class="published-text">PUBLISHED</p>
<p class="published-date">July 12,2025</p>
<img src="../../public/images/1000028193.png">
</section>

</body>
</html>