<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
<header class="header">
    <div class="topbar">
    <div class="search">🔍</div>
        <div class="logo">
            <a href="../index.html">
            <h1>Jammu Kashmir Archives</h1>
            </a>
        </div>
        <div class="icons">☰</div>
    </div>

 <nav class="navbar">
    <a href="../regions/jammu.html">Jammu</a>
    <a href="../regions/kashmir.html">Kashmir</a>
    <a href="../regions/ladakh.html">Ladakh</a>
    <a href="../regions/gilgit.html">Gilgit</a>
    <a href="#">Explore</a>
    <a href="#">About</a>
 </nav>
</header>

<section class="text-for-articles">
<h2>Dogri Folk Orchestra: Soundscapes of Duggar’s Spirit</h2>
<p class="author">By <span class="span-author-articles"><a href="#">XYZ</a></span></p>
<p class="intro">Does the Dogri Folk Orchestra, that vibrant collective rooted in the traditions of Duggar, merely preserve sound, or does it carry a deeper cultural consciousness? For many practitioners and listeners, the answer seems to extend beyond performance alone. Much like a journey through inherited melodies, the orchestra becomes an act of remembrance — a “living archive” of voices shaped by landscape, labor, and longing. Its compositions wander through time rather than streets, gathering fragments of memory and identity. Yet, as with any revival of tradition, its vision holds both achievement and limitation: it celebrates continuity while inevitably reshaping what it seeks to preserve.</p>
<p class="published-text">PUBLISHED</p>
<p class="published-date">March 26,2026</p>
<img src="../../public/images/Dogri orch.png">
</section>

</body>
</html>